<app-container>
    <mat-card>
        <form [formGroup]="cadastroForm">
            <mat-card-title>Crie sua conta</mat-card-title>
            <section>
                <div class="acoesPerfil">
                    <h2>Dados pessoais</h2>
                    <button mat-stroked-button color="primary">
                        <mat-icon>logout</mat-icon>
                        DESLOGAR
                    </button>
                </div>
            </section>
            <mat-card-content>
                <div class="grid-container">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" placeholder="Nome">
                        <mat-error *ngIf="cadastroForm.get('nome').errors">Nome é obrigatório></mat-error>
                    </mat-form-field>
                    <div class="grid-item">
                        <mat-form-field appearance="outline">
                            <mat-label>Data de Nascimento</mat-label>
                            <input matInput formControlName="nascimento" [matDatepicker]="nascimento"
                                placeholder="Data de Nascimento">
                            <mat-datepicker-toggle matSuffix [for]="nascimento"></mat-datepicker-toggle>
                            <mat-datepicker #nascimento></mat-datepicker>
                            <mat-error *ngIf="cadastroForm.get('nascimento').errors?.['required']">Data de Nascimento é
                                obrigatória</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>CPF</mat-label>
                            <input matInput formControlName="cpf" placeholder="Digite seu CPF" mask="000.000.000-00">
                            <mat-error *ngIf="cadastroForm.get('cpf').errors">CPF é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</app-container>