<div class="busa-page">
    <app-banner src="assets/imagens/banner-busca.png" alt="Banner de Busca"></app-banner>
    <app-container>
        <app-form-busca (realizarBusca)="busca($event)"></app-form-busca>
        <section class="conteudo">
            <aside class="filtros-adicionais">
                <app-filtros-complementares (realizarBusca)="busca($event)"></app-filtros-complementares>
            </aside>
            <!-- <div class="passagens">
                <app-passagem *ngFor="let passagem of passagens" [passagem]="passagem"></app-passagem>
            </div> -->
        </section>
    </app-container>
</div>