<mat-form-field class="input-container" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <mat-icon matPrefix>
        {{ iconePrefixo }}
    </mat-icon>
    <input type="text" matInput [formControl]="ufControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        <mat-option *ngFor="let uf of unidadesFiltradas$ | async" [value]="uf">
            {{ uf.nome }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>